[Unit]
Description=DPDK
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/boot-dpdk.sh
ExecStop=/usr/local/bin/kill-dpdk.sh

[Install]
WantedBy=multi-user.target
